main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 500px;
    height: 500px;

    background-color: #483925;
}

section {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 30%;
}

#row2 {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.even {
    background-color: rgb(31, 84, 31);
    width: 30%;
    height: 100%;
}

.odd {
    background-color: rgb(123, 100, 14);
    width: 30%;
    height: 100%;
}